@keyframes hideText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes revealText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide-text {
  animation: hideText -2s forwards;
}

.reveal-text {
  animation: revealText 1s forwards;
}

.text-anim {
  opacity: 0;
}
